<!DOCTYPE html>
<html>
  <head>
    <title><%=@current_page_title ||= "Weather Forecast"%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicons/professor_e_gadd_1.ico'%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container separator-from-navbar">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/alerts' %>
  </body>
</html>
